{
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "info": {
    "version": "1.9.0",
    "title": "IoT Digital Twin API",
    "description": "IoT Digital Twinning API",
    "termsOfService": "https:/boodskap.io/terms-conditions",
    "contact": {
      "name": "Boodskap Team"
    },
    "license": {
      "name": "MIT"
    }
  },
  "host": "twinned.digital",
  "basePath": "/rest/nocode",
  "schemes": [
    "https"
  ],
  "paths": {
    "/IoT/cleanup": {
      "delete": {
        "tags": [
          "IoT"
        ],
        "description": "Cleanup all data",
        "operationId": "cleanup",
        "parameters": [
          {
            "in": "header",
            "name": "dropIndexes",
            "required": false,
            "type": "boolean",
            "description": "drop the entire data tables and recreate them"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Cleanup entire data"
      }
    },
    "/IoT/clear/models": {
      "delete": {
        "tags": [
          "IoT"
        ],
        "description": "Cleanup all model data",
        "operationId": "cleanupModels",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Cleanup entire data"
      }
    },
    "/IoT/clear/data": {
      "delete": {
        "tags": [
          "IoT"
        ],
        "description": "Cleanup all device data",
        "operationId": "cleanupData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string",
            "description": "provide this to delete only the data belongs to this model"
          },
          {
            "in": "header",
            "name": "deviceId",
            "required": false,
            "type": "string",
            "description": "provide this to delete only the data belongs to this device"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Cleanup entire data"
      }
    },
    "/IoT/twin/info/{orgId}": {
      "get": {
        "tags": [
          "IoT"
        ],
        "summary": "Get Twin Domain info",
        "description": "Get Twin Domain information",
        "operationId": "getTwinDomainInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orgId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "nocodeAuthToken",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TwinInfoRes"
            }
          }
        }
      }
    },
    "/IoT/twin/create": {
      "post": {
        "tags": [
          "IoT"
        ],
        "summary": "Create digital twin account",
        "description": "create a new digital twin domain",
        "operationId": "createTwinDomain",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "nocodeAuthToken",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NoCodeInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TwinInfoRes"
            }
          }
        }
      }
    },
    "/IoT/twin/config/upsert": {
      "post": {
        "tags": [
          "IoT"
        ],
        "summary": "Create or update configuration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "upsertTwinConfig",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TwinSysInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TwinSysConfigEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/IoT/twin/info/get/{domainKey}": {
      "get": {
        "tags": [
          "IoT"
        ],
        "summary": "Get Twin system information only with branding information",
        "description": "Get Twin system information",
        "operationId": "getTwinSysInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "domainKey",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TwinSysInfoEntityRes"
            }
          }
        }
      }
    },
    "/IoT/twin/config/get": {
      "get": {
        "tags": [
          "IoT"
        ],
        "summary": "Get Twin system information along with other settings",
        "description": "Get Twin system information",
        "operationId": "getTwinSysConfig",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TwinSysInfoEntityRes"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/IoT/twin/tags/get/{entityType}": {
      "get": {
        "tags": [
          "IoT"
        ],
        "summary": "Get tag list of an entity type",
        "description": "Get tag list of an entity type",
        "operationId": "getTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "DEVICEDATA",
              "DEVICEVIEW",
              "DASHBOARDSCREEN",
              "DASHBOARDMENU",
              "EVENTREGISTRATION",
              "DEVICEMODEL",
              "DEVICE",
              "CONDITION",
              "ALARM",
              "DISPLAY",
              "CONTROL",
              "DISPLAYWIDGET",
              "SREENWIDGET",
              "EVENT",
              "TRIGGER",
              "PREPROCESSOR",
              "DATAFILTER",
              "GEOFENCE",
              "ANALYTICSSCREEN",
              "ROLE",
              "FLOOR",
              "ASSET",
              "FACILITY",
              "PREMISE",
              "SETTINGS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagsRes"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/IoT/twin/plan/get": {
      "get": {
        "tags": [
          "IoT"
        ],
        "summary": "Get plan",
        "description": "Get plan",
        "operationId": "getPlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrgPlanEntityRes"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/IoT/twin/plan/reload": {
      "get": {
        "tags": [
          "IoT"
        ],
        "summary": "Reload plan",
        "description": "Reload plan",
        "operationId": "reloadPlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/IoT/twin/usage/get": {
      "get": {
        "tags": [
          "IoT"
        ],
        "summary": "Get usage",
        "description": "Get usage",
        "operationId": "getUsage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UsageEntityRes"
            }
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/get/{deviceId}": {
      "get": {
        "tags": [
          "Device Data"
        ],
        "summary": "Get the most recent data for this device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDeviceData",
        "parameters": [
          {
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "isHardwareDevice",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceDataEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/recent": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Search recent device data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchRecentDeviceData",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "premiseId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "facilityId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "floorId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "assetId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "filterByLocation",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterSearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceDataArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/history/search": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Search device history data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchDeviceHistoryData",
        "parameters": [
          {
            "in": "header",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "premiseId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "facilityId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "floorId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "assetId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "filterByLocation",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterSearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceDataArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/history/remove/{recordId}": {
      "delete": {
        "tags": [
          "Device Data"
        ],
        "summary": "Remove history data record",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "removeHistoryDataRecord",
        "parameters": [
          {
            "in": "path",
            "name": "recordId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceDataEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/send": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Send device data",
        "description": "The apiKey for this call should be the apiKey of the reporting device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "sendDeviceData",
        "parameters": [
          {
            "in": "header",
            "name": "hardwareDeviceId",
            "required": true,
            "description": "hardware device id",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/location/send/{lon}/{lat}": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Send device data",
        "description": "The apiKey for this call should be the apiKey of the reporting device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "sendDeviceLocationData",
        "parameters": [
          {
            "in": "header",
            "name": "hardwareDeviceId",
            "required": true,
            "description": "hardware device id",
            "type": "string"
          },
          {
            "in": "header",
            "name": "geocode",
            "required": false,
            "description": "do reverse geocoding",
            "type": "boolean"
          },
          {
            "in": "path",
            "name": "lon",
            "required": true,
            "description": "longitude",
            "type": "number",
            "format": "double"
          },
          {
            "in": "path",
            "name": "lat",
            "required": true,
            "description": "latitide",
            "type": "number",
            "format": "double"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/triggered/events/search": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Search triggered events",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "seearchTriggeredEvents",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "deviceId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "userId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterSearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TriggeredEventArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/triggered/controls/search": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Search triggered controls",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "seearchTriggeredControls",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "deviceId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterSearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TriggeredControlArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/cleanup": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "description": "Cleanup device data",
        "operationId": "cleanupDeviceData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CleanReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Cleanup entire data"
      }
    },
    "/DeviceData/trends/{deviceId}/{field}": {
      "get": {
        "tags": [
          "Device Data"
        ],
        "description": "Device triends data",
        "operationId": "getDeviceTrends",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string",
            "enum": [
              "RECENT",
              "TODAY",
              "YESTERDAY",
              "THISWEEK",
              "LASTWEEK",
              "THISMONTH",
              "LASTMONTH",
              "THISQUARTER",
              "THISYEAR",
              "LASTYEAR",
              "RANGE"
            ]
          },
          {
            "in": "query",
            "name": "interval",
            "required": false,
            "type": "string",
            "enum": [
              "SECOND",
              "MINUTE",
              "HOUR",
              "DAY",
              "WEEK",
              "MONTH",
              "YEAR"
            ]
          },
          {
            "in": "query",
            "name": "beginStamp",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "required if filter is set"
          },
          {
            "in": "query",
            "name": "endStamp",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "required if filter is set"
          },
          {
            "in": "query",
            "name": "tz",
            "required": false,
            "type": "string",
            "default": "GMT",
            "description": "Timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TrendValueArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Cleanup entire data"
      }
    },
    "/DeviceData/series/{deviceId}/{field}/{page}/{size}": {
      "get": {
        "tags": [
          "Device Data"
        ],
        "description": "Device time series data",
        "operationId": "getDeviceTimeSeries",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "size",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string",
            "enum": [
              "RECENT",
              "TODAY",
              "YESTERDAY",
              "THISWEEK",
              "LASTWEEK",
              "THISMONTH",
              "LASTMONTH",
              "THISQUARTER",
              "THISYEAR",
              "LASTYEAR",
              "RANGE"
            ]
          },
          {
            "in": "query",
            "name": "beginStamp",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "required if filter is set"
          },
          {
            "in": "query",
            "name": "endStamp",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "required if filter is set"
          },
          {
            "in": "query",
            "name": "tz",
            "required": false,
            "type": "string",
            "default": "GMT",
            "description": "Timezone"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/TimeSeriesValueArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Cleanup entire data"
      }
    },
    "/DeviceData/eql": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Search using SQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchEqlDeviceData",
        "parameters": [
          {
            "in": "body",
            "name": "eql",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceDataArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/filter/{filterId}": {
      "get": {
        "tags": [
          "Device Data"
        ],
        "summary": "Filter recent device data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "filterRecentDeviceData",
        "parameters": [
          {
            "in": "header",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "filterId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceDataArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/reported/assets/{size}": {
      "get": {
        "tags": [
          "Device Data"
        ],
        "summary": "Get reported asset ids",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getReportedAssetIds",
        "parameters": [
          {
            "in": "path",
            "name": "size",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/IDListEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/search/reported/assets": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "summary": "Search reported assets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchReportedAssets",
        "parameters": [
          {
            "in": "body",
            "name": "search",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/IDListEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/field/filter/{fieldFilterId}": {
      "get": {
        "tags": [
          "Device Data"
        ],
        "summary": "Field filter recent device data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "fieldFilterRecentDeviceData",
        "parameters": [
          {
            "in": "header",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "in": "header",
            "name": "size",
            "required": false,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "fieldFilterId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceDataArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceData/query": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "description": "query device data",
        "operationId": "queryDeviceData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EqlSearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/QueryRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "query data"
      }
    },
    "/DeviceData/history/query": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "description": "query device history data",
        "operationId": "queryDeviceHistoryData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EqlSearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/QueryRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "query history data"
      }
    },
    "/DeviceData/count/query": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "description": "query count device data",
        "operationId": "queryCountDeviceData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EqlSearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "count by query"
      }
    },
    "/DeviceData/count/history/query": {
      "post": {
        "tags": [
          "Device Data"
        ],
        "description": "query count history device data",
        "operationId": "queryCountHistoryDeviceData",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EqlSearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "county history by query"
      }
    },
    "/DeviceView/create": {
      "post": {
        "tags": [
          "Device View"
        ],
        "summary": "Create device view",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "createDeviceView",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceViewInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceView/update": {
      "post": {
        "tags": [
          "Device View"
        ],
        "summary": "Update device view",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "updateDeviceView",
        "parameters": [
          {
            "in": "header",
            "name": "deviceViewId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceViewInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceView/remove": {
      "delete": {
        "tags": [
          "Device View"
        ],
        "summary": "Delete device view",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "deleteDeviceView",
        "parameters": [
          {
            "in": "header",
            "name": "deviceViewId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceView/list": {
      "post": {
        "tags": [
          "Device View"
        ],
        "summary": "List device views",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listDeviceViews",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceView/search": {
      "post": {
        "tags": [
          "Device View"
        ],
        "summary": "Search device views",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchDeviceViews",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceView/get": {
      "post": {
        "tags": [
          "Device View"
        ],
        "summary": "Get device views",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDeviceViews",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceView/one/{deviceViewId}": {
      "get": {
        "tags": [
          "Device View"
        ],
        "summary": "get device view by id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDeviceView",
        "parameters": [
          {
            "in": "path",
            "name": "deviceViewId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceView/eql": {
      "post": {
        "tags": [
          "Device View"
        ],
        "summary": "Search using EQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchEqlDeviceView",
        "parameters": [
          {
            "in": "body",
            "name": "eql",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceViewArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/create": {
      "post": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "Create dashboard screen",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "createDashboardScreen",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DashboardScreenInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/update": {
      "post": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "Update dashboard screen",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "updateDashboardScreen",
        "parameters": [
          {
            "in": "header",
            "name": "screenId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DashboardScreenInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/remove": {
      "delete": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "Delete dashboard screen",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "deleteDashboardScreen",
        "parameters": [
          {
            "in": "header",
            "name": "screenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/list": {
      "post": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "List dashboard screens",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listDashboardScreens",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/search": {
      "post": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "Search dashboard screens",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchDashboardScreens",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/get": {
      "post": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "Get dashboard screens",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDashboardScreens",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/one/{screenId}": {
      "get": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "get dashboard screen by id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDashboardScreen",
        "parameters": [
          {
            "in": "path",
            "name": "screenId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/eql": {
      "post": {
        "tags": [
          "Dashboard Screen"
        ],
        "summary": "Search using SQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchEqlDashboardScreen",
        "parameters": [
          {
            "in": "body",
            "name": "eql",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardScreenArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardScreen/count": {
      "get": {
        "tags": [
          "Dashboard Screen"
        ],
        "description": "count",
        "summary": "count",
        "operationId": "countDashboards",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/create": {
      "post": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "Create dashboard menu",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "createDashboardMenuGroup",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/update": {
      "post": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "Update dashboard menu",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "updateDashboardMenuGroup",
        "parameters": [
          {
            "in": "header",
            "name": "menuGroupId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/remove": {
      "delete": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "Delete dashboard menu",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "deleteDashboardMenuGroup",
        "parameters": [
          {
            "in": "header",
            "name": "menuGroupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/list": {
      "post": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "List dashboard menus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listDashboardMenuGroups",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/search": {
      "post": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "Search dashboard menus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchDashboardMenuGroups",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/get": {
      "post": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "Get dashboard menus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDashboardMenuGroups",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/one/{menuGroupId}": {
      "get": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "get dashboard menu by id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDashboardMenuGroup",
        "parameters": [
          {
            "in": "path",
            "name": "menuGroupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DashboardMenu/eql": {
      "post": {
        "tags": [
          "Dashboard Menu"
        ],
        "summary": "Search using SQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchEqlDashboardMenu",
        "parameters": [
          {
            "in": "body",
            "name": "eql",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DashboardMenuGroupArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/EventRegistration/create": {
      "post": {
        "tags": [
          "Event Registration"
        ],
        "summary": "Create event registration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "createEventRegistration",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventRegistrationInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/EventRegistrationEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/EventRegistration/update": {
      "post": {
        "tags": [
          "Event Registration"
        ],
        "summary": "Update event registration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "updateEventRegistration",
        "parameters": [
          {
            "in": "header",
            "name": "eventRegistrationId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventRegistrationInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/EventRegistrationEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/EventRegistration/remove": {
      "delete": {
        "tags": [
          "Event Registration"
        ],
        "summary": "Delete event registration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "deleteEventRegistration",
        "parameters": [
          {
            "in": "header",
            "name": "eventRegistrationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/EventRegistrationEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/EventRegistration/list": {
      "post": {
        "tags": [
          "Event Registration"
        ],
        "summary": "List event registrations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listEventRegistrations",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/EventRegistrationArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/EventRegistration/eql": {
      "post": {
        "tags": [
          "Event Registration"
        ],
        "summary": "Search using SQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchEqlEventRegistration",
        "parameters": [
          {
            "in": "body",
            "name": "eql",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/EventRegistrationArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/create": {
      "post": {
        "tags": [
          "Device Model"
        ],
        "summary": "Create device model",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "createDeviceModel",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceModelInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/update": {
      "post": {
        "tags": [
          "Device Model"
        ],
        "summary": "Update device model",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "updateDeviceModel",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceModelInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/remove": {
      "delete": {
        "tags": [
          "Device Model"
        ],
        "summary": "Delete device model",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "deleteDeviceModel",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/list": {
      "post": {
        "tags": [
          "Device Model"
        ],
        "summary": "List device models",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listDeviceModels",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/search": {
      "post": {
        "tags": [
          "Device Model"
        ],
        "summary": "Search device models",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchDeviceModels",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/get": {
      "post": {
        "tags": [
          "Device Model"
        ],
        "summary": "get device models by list of id's",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDeviceModels",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/one/{modelId}": {
      "get": {
        "tags": [
          "Device Model"
        ],
        "summary": "get device models by id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDeviceModel",
        "parameters": [
          {
            "in": "path",
            "name": "modelId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/export/{modelId}": {
      "get": {
        "tags": [
          "Device Model"
        ],
        "summary": "export device model",
        "description": "export device model",
        "operationId": "exportDeviceModel",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "description": "device model id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "file"
            }
          },
          "417": {
            "description": "Platform error"
          }
        }
      }
    },
    "/DeviceModel/import": {
      "post": {
        "tags": [
          "Device Model"
        ],
        "summary": "import device model exported data",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "description": "import device model",
        "operationId": "importDeviceModel",
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/BaseResponse"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/eql": {
      "post": {
        "tags": [
          "Device Model"
        ],
        "summary": "Search using SQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchEqlDeviceModel",
        "parameters": [
          {
            "in": "body",
            "name": "eql",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceModelArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/param/list": {
      "get": {
        "tags": [
          "Device Model"
        ],
        "summary": "list all device model's parameters",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listAllParameters",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ParameterArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/count": {
      "get": {
        "tags": [
          "Device Model"
        ],
        "description": "count",
        "summary": "count",
        "operationId": "countDeviceModels",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/DeviceModel/param/units": {
      "get": {
        "tags": [
          "Device Model"
        ],
        "description": "get prameter units",
        "summary": "get parameter units",
        "operationId": "getParameterUnits",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ParameterUnitsEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/create": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Create device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "createDevice",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/update": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Update device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "updateDevice",
        "parameters": [
          {
            "in": "header",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/remove": {
      "delete": {
        "tags": [
          "Device"
        ],
        "summary": "Delete device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "deleteDevice",
        "parameters": [
          {
            "in": "header",
            "name": "deviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/list": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "List devices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listDevices",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/search": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Search devices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchDevices",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "assetId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "floorId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "facilityId",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "premiseId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/get": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "get devices",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDevices",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/one/{deviceId}": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "get device by id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getDevice",
        "parameters": [
          {
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "isHardwareDevice",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/reset_key": {
      "put": {
        "tags": [
          "Device"
        ],
        "summary": "Reset API key of a device",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "resetDeviceApiKey",
        "parameters": [
          {
            "in": "header",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "apiKey",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/eql": {
      "post": {
        "tags": [
          "Device"
        ],
        "summary": "Search using SQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchEqlDevice",
        "parameters": [
          {
            "in": "body",
            "name": "eql",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/DeviceArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Device/count": {
      "get": {
        "tags": [
          "Device"
        ],
        "description": "count",
        "summary": "count",
        "operationId": "countDevices",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CountRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Condition/create": {
      "post": {
        "tags": [
          "Condition"
        ],
        "summary": "Create condition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "createCondition",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConditionInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConditionEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Condition/update": {
      "post": {
        "tags": [
          "Condition"
        ],
        "summary": "Update condition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "updateCondition",
        "parameters": [
          {
            "in": "header",
            "name": "conditionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConditionInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConditionEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Condition/remove": {
      "delete": {
        "tags": [
          "Condition"
        ],
        "summary": "Delete condition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "deleteCondition",
        "parameters": [
          {
            "in": "header",
            "name": "conditionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConditionEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Condition/list": {
      "post": {
        "tags": [
          "Condition"
        ],
        "summary": "List conditions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "listConditions",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConditionArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Condition/search": {
      "post": {
        "tags": [
          "Condition"
        ],
        "summary": "Search conditions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "searchConditions",
        "parameters": [
          {
            "in": "header",
            "name": "modelId",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConditionArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Condition/get": {
      "post": {
        "tags": [
          "Condition"
        ],
        "summary": "Get conditions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getConditions",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConditionArrayRes"
            }
          },
          "401": {
            "description": "Authentication error"
          },
          "417": {
            "description": "Platform error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    },
    "/Condition/one/{conditionId}": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "get condition by id",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "getCondition",
        "parameters": [
          {
            "in": "path",
            "name": "conditionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ConditionEntityRes"
            }
          },
          "401": {
            "description": "Authentication error"
[...]
